<ion-content class="animate__animated animate__zoomIn">
          <ion-list>
            <ion-item lines="none" style="display: flex; align-items: center;">
              <ion-label style="color: white;font-size: large;">{{ 'app.languageselection' | translate }}</ion-label>
            </ion-item>
      <ion-item lines="none" style="display: flex; align-items: center;">
        <ion-label style="color: white;">{{'app.slrinput' | translate }}</ion-label>
        <ion-img [src]="flagselectedslrinput" style="width: 32px; height: 32px;" slot="end"></ion-img>
      </ion-item>
      <ion-item lines="none" style="display: flex; align-items: center;">
        <ion-label style="color: white;">{{'app.slroutput' | translate }}</ion-label>
        <ion-img [src]="flagselectedslroutput" style="width: 32px; height: 32px;" slot="end"></ion-img>
      </ion-item>
      <ion-item lines="none" style="display: flex; align-items: center;">
        <ion-label style="color: white;">{{'app.sltinput' | translate }}</ion-label>
        <ion-img [src]="flagselectedsltinput" style="width: 32px; height: 32px;" slot="end"></ion-img>
      </ion-item>
      <ion-item lines="none" style="display: flex; align-items: center;">
        <ion-label style="color: white;">{{'app.sltoutput' | translate }}</ion-label>
        <ion-img [src]="flagselectedsltoutput" style="width: 32px; height: 32px;" slot="end"></ion-img>
      </ion-item>
    </ion-list>

</ion-content>