.clear-button {
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
  
    ion-icon {
      font-size: 1rem;
    }
  
    &:hover {
      opacity: 1;
    }
  }